@model EventPlanner.Models.AttendeeGroupViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Hello, @Model.User.UserName!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col">Group Name </th>
    </tr>

@foreach (var group in Model.CurrentGroups) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => group.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = group.Id }) |
            @Html.ActionLink("Delete", "DeleteGroup", new { id = group.Id }) |
            @Html.ActionLink("Invite", "InviteToGroup", new { id = group.Id })
            @Html.ActionLink("Vote For Shows", "Vote", new { GroupId = group.Id })
        </td>
    </tr>
}

</table>
